<!-- BreadCrumb-->
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item text-info" aria-current="page">Home</li>
        </ol>
    </nav>
</div>

<div>
    <h1 class="responsive-headline">Hello,</h1>
    <p>Welcome to our Portfolio</p>
    <div class="row no-padding" style="padding-left: 18%;">
        <div class="col-sm-6">
            <img class="profile-pic" src="images/tony.png" alt="profilepic">
            <br>
            <h4 style="padding-left:5%; padding-top:5%">Tony Varghese</h4>
        </div>
        <div class="col-sm-6">
            <img class="profile-pic" src="/images/talha.png" alt="profilepic">
            <br>
            <h4 style="padding-left: 8%; padding-top:5%">Talha Mirza</h4>
        </div>
    </div>
    <hr>
    <h3 style="text-align: center;">Aspiring Full Stack Developers</h3>
    <hr>
</div>

<div>
    <div class="row no-padding">
        <div class="col-sm-9">
            <h1 class="responsive-headline">Recent Projects</h1>
        </div>
        <div class="col-sm-3">
            <h4><a href="/projects">View All</a></h4>
        </div>
    </div>
    <div class="row no-padding">
        {{#each projects}}
        <div class="col-sm-4 mt-4 mb-4">
            <div class="card">
                <a href="/projects/{{_id}}"><img class="card-img-top" src="{{this.image}}" alt="" height="250px" /></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/projects/{{_id}}">{{this.title}}</a>
                    </h4>
                    <p class="card-text">
                        {{this.description}}
                    </p>
                    <a class="btn btn-primary" href="/projects/{{_id}}">View Project
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <a class="btn btn-primary" href="#">Github
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<hr>
<!-- Recent Blog Posts -->
<div>
    <div class="row no-padding">
        <div class="col-sm-9">
            <h1 class="responsive-headline">Recent Blog Posts</h1>
        </div>
        <div class="col-sm-3">
            <h4><a href="/blog">View All</a></h4>
        </div>
    </div>
</div>

<div class="row no-padding">
    {{#each blog}}
    <div class="col-sm-4 mt-4 mb-4">
        <div class="card">
            <a href="/projects/{{_id}}"><img class="card-img-top" src="{{this.blogImage}}" alt="" height="250px" /></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="/projects/{{_id}}">{{this.blogTitle}}</a>
                </h4>
                <p class="card-text">
                    {{this.blogDescription}}
                </p>
                <a class="btn btn-primary" href="/projects/{{_id}}">View Post
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>

            </div>
        </div>
    </div>
    {{/each}}
</div>